<div class="authform">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= f.text_field :username, :autofocus => true %>
    <%= f.email_field :email %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <fieldset>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <%= f.password_field :password, :autocomplete => 'off' %>
      <%= f.password_field :password_confirmation %>
    </fieldset>
    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <%= f.password_field :current_password, class: 'form-control' %>
    </fieldset>
    <%= f.submit 'Update', class: 'button right' %>
  <% end %>
</div>
<div class="authform">
  <h3>Cancel Account</h3>
  <p>Unhappy? We'll be sad to see you go.</p>
  <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
