<div class="row-fluid">
  <div class="jumbotron">
    <h2><%= @card.name %>
      <span class="label label-success"><%= @card.score %> points</span>
      <span class="label label-info"><%= @card.comments_count %> comments</span>
    </h2>
    <p><%= @card.description %></p>
    <p>
      <span class="glyphicon glyphicon-user"></span>
      <%= @card.user.try(:username) %>
    </p>
  </div>
</div>

<div class="row-fluid">
  <% @card.images.each do |image| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="<%= image.image_url %>" alt="<%= image.caption %>">
        <div class="caption">
          <p><%= image.caption %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>