<div class="container-fluid">

  <div class="row">
    <div class=" col-xs-1 col-md-1">
       <%= image_tag ("hyper_icon.png"), class: "hyper-icon" %>
    </div>
  </div>
</div>


<div class="container-fluid main">

  <div class="row">
    <div class="col-md-8">
     <h4><%= @card.name %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 center-block" style="float:none">
       <% @card.images.each do |image| %>
         <img src="<%= image.image_url %>" alt="<%= image.caption %>">
         <div class="caption top10">
           <%= image.caption %>
         </div>
       <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <% if @card.user.avatar_url.present? %>
      <div class="col-sm-6 col-md-2 col-lg-4">
        <p class="pull-left">
          <img class="img-circle avatar" src="<%= @card.user.avatar_url %>"/>
        </p>
      </div>
    <% end %>
    <div class="col-sm-6 col-md-10 col-lg-6 pull-right">
      <p class="text-right">
        <strong><%= @card.user.title %></strong>
        <%= "of #{@card.user.location}" if @card.user.location.present? %>
      </p>
      <span class="light-grey pull-right">
        posted
        <span class="dark-grey">
          <%= @card.created_at.
                    strftime("%B #{@card.created_at.day.ordinalize}, %Y") %>
        </span>
        in
        <span class="text-muted">
          <strong><%= "##{@card.stack.name}" %></strong>
        </span>
      </span>
    </div>
  </div>

  <hr>


  <div class="row messages">
   <div class="col-sm-6 col-md-4 col-lg-12">
     <p>
       <span class="text-muted">
         <strong><%= pluralize @card.comments_count, 'Comment' %></strong>
       </span>
     <hr>

     <%= render partial: "comment", collection: @card.comments %>
    </div>
  </div>
</div>
